<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TattedDream</title>
    <link rel="shortcut icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/shared.css">
</head>

<body>
    <div class="container">
        <header class="main-header">
            <div class="main-nav">
                <nav class="nav">
                    <ul class="main-nav__items">
                        <li class="main-nav__item">
                            <a href="about.html">About</a>
                        </li>
                        <li class="main-nav__item">
                            <a href="booking.html">Booking</a>
                        </li>
                        <li class="main-nav__item main-nav__item--cta">
                            <a href="shop.html">Shop</a>
                        </li>
                        <li class="main-nav__item main-nav__item--cta">
                            <a href="start-hosting/index.html">Aftercare</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
    <div class="img-container">
        <section class="logo-img">
            <img src="../static/img/main.jpg" id="main-logo" alt="logo">
        </section>
    </div>
</body>

</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="shortcut icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/shared.css">
</head>

<body>

</body>

</html>