<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shared.css') }}">
  </head>
  <body>
    <div class="container">
      <h1 class="title">Tatted Dreams</h1>
      <div class="buttons">
        <a href="{{ url_for('customers') }}" class="button">Customers</a>
        <a href="{{ url_for('home') }}" class="button">New Tattoo</a>
        <a href="{{ url_for('home') }}" class="button">View Schedule</a>
        <a href="{{ url_for('home') }}" class="button">ADMIN</a>
      </div>
    </div>
  </body>
</html>
