<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/shared.css')}}"/>
    <title>View Customers</title>
</head>
<body>
<div class="container">
    <h1>View Customers</h1>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Photo ID</th>
                <th>Signature</th>
            </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.customers_id }}</td>
                <td>{{ customer.Name }}</td>
                <td>{{ customer.Email }}</td>
                <td>{{ customer.Phone }}</td>
                <td>{{ customer.Gender }}</td>
                <td>{% if customer.Photo_ID %}<img src="data:image/jpeg;base64,{{ customer.Photo_ID.decode('utf-8')|b64encode }}" alt="Photo ID" width="100" height="100"/>{% endif %}</td>
                <td>{% if customer.Signature %}<img src="data:image/jpeg;base64,{{ customer.Signature.decode('utf-8')|b64encode }}" alt="Signature" width="100" height="100"/>{% endif %}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
            <div class="buttons">
            <a href="{{ url_for('customers') }}" class="button">Back</a>
            <a href="{{ url_for('home') }}" class="button">Home</a>
        </div>
</div>
</body>
</html>

